events {}

http {
    server {
        listen 80;

        # Route API requests to backend
        location /api/ {
            proxy_pass http://mysql-cont12:3306;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        # Route all other requests to frontend
        location / {
            proxy_pass http://Retail-app12:3000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}